@import "./base/reset";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";

body {
  margin: 0 auto;
  font-family: roboto;
}
.todo-app {
  margin: 0 auto;
  background-color: $grey;
  height: 100vh;
  padding: 20px 16px;
  width: 572px;
}
.todo-form {
  position: relative;
  border-radius: 20px;
  width: 540px;
  .todo-form__input {
    width: 100%;
    padding: 22px 28px;
    outline: none;
    border-radius: 34px;
    color: #fff;
    border: 20px solid $green;
    background-color: rgba($green, 0.3);
    display: block;
    &::placeholder {
      color: $white;
      border-radius: 10px;
    }
  }
  .todo-form__button {
    &::before {
      position: absolute;
      content: "\e801";
      font-family: icons;
      right: 11px;
      top: 18px;
      font-size: 22px;
      border-radius: 55%;
      padding: 22px;
      background-color: white;
      color: $green;
    }
  }
}
.todo-list {
  position: relative;
  .todo-list__listitem {
    list-style: none;
    display: flex;
    border: 1px solid #eef3f6;
    background-color: white;
    width: 502px;
    margin: 11px auto;
    border-radius: 5px;
    align-items: center;
    padding: 13px 25px;
    transition: 0.2s;
    span {
      margin-right: auto;
    }
  }
  .todo-list__listitem--trash {
    width: 24px;
    height: 17px;
    &::before {
      position: absolute;
      content: "\e800";
      font-family: icons;
      padding-right: 50px;
      right: 50px;
    }
  }
  .todo-list__listitem--done {
    width: 32px;
    height: 17px;
    &::before {
      position: absolute;
      content: "\f06d";
      font-family: icons;
      border-left: 1px solid gray;
      padding-left: 17px;
      right: 43px;
      color: $green;
    }
  }
}
